In [9]:
#http://pandas-datareader.readthedocs.io/en/latest/remote_data.html#remote-data-iex

In [1]:
import pandas_datareader.data as web

In [4]:
#!pip install  pandas_datareader

In [2]:
from datetime import datetime

In [6]:
start = datetime(2015, 2, 9)
end = datetime(2018,4,6)

In [7]:
spy = web.DataReader('SPY', 'iex', start, end)

5y

In [8]:
spy[3:6]

                open      high       low     close    volume
date
2015-02-12  194.8322  195.8631  193.9725  195.7975  97545949
2015-02-13  195.9381  196.6597  195.6476  196.6035  93670430
2015-02-17  196.2474  197.1096  195.9662  196.9128  76968199

In [10]:
spy = web.DataReader('SPY', 'iex-tops')

In [11]:
spy[:10]

Empty DataFrame
Columns: [0]
Index: []

In [15]:
from iexfinance import get_historical_data

In [14]:
#!pip install iexfinance

In [16]:
from datetime import datetime

In [17]:
start = datetime(2015, 2, 9)
end = datetime(2018,4,6)

In [18]:
spy = get_historical_data('SPY', start, end, output_format='pandas')

In [19]:
spy.tail(10)

              open     high       low   close     volume
date
2018-03-23  264.17  265.020  257.8300  258.05  183534751
2018-03-26  262.13  265.430  259.4100  265.11  141956102
2018-03-27  266.17  266.770  258.8400  260.60  129941445
2018-03-28  260.75  262.640  258.5800  259.83  146452306
2018-03-29  261.12  265.260  259.8389  263.15  124244790
2018-04-02  262.55  263.130  254.6700  257.47  186286343
2018-04-03  258.87  261.310  256.8400  260.77  119956861
2018-04-04  256.75  264.355  256.6000  263.56  123715339
2018-04-05  265.55  266.640  264.3200  265.64   82652618
2018-04-06  263.42  265.110  258.0000  259.72  179521209

http://www.enlistq.com/python-api-getting-market-financial-data-iex/

https://pypi.python.org/pypi/iexfinance/0.3.1

https://addisonlynch.github.io/iexfinance/historical.html