https://gitlab.com/parthasen/AI/blob/ALGO2.1/tree.md

In [1]:
import processing
import ds
import ml
import model_saving
import TS

/home/octo/anaconda2/envs/carnd-term1/lib/python3.5/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools
Using TensorFlow backend.

In [8]:
!pip install update Ta-Lib

Requirement already satisfied: update in /home/octo/anaconda2/envs/carnd-term1/lib/python3.5/site-packages
Requirement already satisfied: Ta-Lib in /home/octo/anaconda2/envs/carnd-term1/lib/python3.5/site-packages
Requirement already satisfied: style==1.1.0 in /home/octo/anaconda2/envs/carnd-term1/lib/python3.5/site-packages (from update)
Requirement already satisfied: numpy in /home/octo/anaconda2/envs/carnd-term1/lib/python3.5/site-packages (from Ta-Lib)

In [10]:
import os
import sys
import numpy as np
import pandas as pd
#import talib

In [3]:
p = print
p('Machine: {} {}\n'.format(os.uname().sysname,os.uname().machine))
p(sys.version)

Machine: Linux x86_64

3.5.2 | packaged by conda-forge | (default, Jul 26 2016, 01:32:08)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)]

In [4]:
filename = '/home/octo/Dropbox'+ '/SPY29Dec.csv'

In [5]:
data=processing.get_csv_pd(filename)
data=processing.BA(data)
data=processing.preprocessing(data)
data_km=ml.kalman_ma(data)
data['km']=data_km
#data['diff']=np.where(np.logical_and(data.Open>data.km,data.spread>0),data.vwap-data.km,np.where(np.logical_and(data.Open<data.km,data.spread<0),data.vwap-data.km,0))

In [7]:
df_clf=data.astype('float64')

In [13]:
df_clf.head()

,askPrice,askSize,bidPrice,bidSize,Open,Close,High,Low,...,vwap,change,liq,spread,vel,return,km,sma
2017-12-29 21:14:58.820995,267.82001,54.00000,267.81000,19.00000,267.81500,267.81500,267.82001,267.81000,...,267.81738,0.00000,0.01001,-0.00238,0.01001,0.00004,257.90750,nan
2017-12-29 21:15:00.302764,267.82001,54.00000,267.81000,23.00000,267.81500,267.81500,267.82001,267.81000,...,267.81702,0.00000,0.01001,-0.00201,0.01001,0.00004,261.25374,nan
2017-12-29 21:15:00.310661,267.82001,49.00000,267.81000,23.00000,267.81500,267.81500,267.82001,267.81000,...,267.81680,0.00000,0.01001,-0.00180,0.01001,0.00004,262.94669,nan
2017-12-29 21:15:00.323921,267.82001,49.00000,267.81000,28.00000,267.81500,267.81500,267.82001,267.81000,...,267.81635,0.00000,0.01001,-0.00134,0.01001,0.00004,263.97571,nan
2017-12-29 21:15:00.332070,267.82001,45.00000,267.81000,28.00000,267.81500,267.81500,267.82001,267.81000,...,267.81616,0.00000,0.01001,-0.00116,0.01001,0.00004,264.67157,nan

In [10]:
#data['sma']=talib.SMA(np.array(data.Close.astype('float64')))

In [12]:
df_clf['sma']=talib.SMA(np.array(df_clf.Close))

In [14]:
df_clf.tail()

,askPrice,askSize,bidPrice,bidSize,Open,Close,High,Low,...,vwap,change,liq,spread,vel,return,km,sma
2017-12-31 07:37:42.198573,266.00000,59.00000,265.98999,5.00000,265.99500,265.99500,266.00000,265.98999,...,265.99921,0.00000,0.01001,-0.00421,-0.06500,0.00004,265.99740,266.00049
2017-12-31 07:37:45.649633,266.00000,58.00000,265.98999,5.00000,265.99500,265.99500,266.00000,265.98999,...,265.99921,0.00000,0.01001,-0.00421,-0.05499,0.00004,265.99717,265.99949
2017-12-31 07:37:49.946201,266.00000,55.00000,265.98999,5.00000,265.99500,265.99500,266.00000,265.98999,...,265.99918,0.00000,0.01001,-0.00418,-0.05499,0.00004,265.99696,265.99849
2017-12-31 07:37:52.921372,266.00000,55.00000,265.98999,1.00000,265.99500,265.99500,266.00000,265.98999,...,265.99982,0.00000,0.01001,-0.00482,-0.04999,0.00004,265.99678,265.99749
2017-12-31 07:37:56.170620,266.00000,50.00000,265.98999,1.00000,265.99500,265.99500,266.00000,265.98999,...,265.99982,0.00000,0.01001,-0.00482,-0.04999,0.00004,265.99661,265.99666

# Daily Data Analysis

In [19]:
import quandl
import pandas as pd
from builtins import print

quandl.ApiConfig.api_key = 'BBYnpt_WS8bVDykzCkvu'

https://github.com/quandl/quandl-python/blob/master/FOR_DEVELOPERS.md

In [83]:
import quandl
quandl.ApiConfig.api_key = 'BBYnpt_WS8bVDykzCkvu'


# get the table for daily stock prices and,
# filter the table for selected tickers, columns within a time range
# set paginate to True because Quandl limits tables API to 10,000 rows per call
data = quandl.get_table('WIKI/PRICES', ticker = ['AAPL', 'MSFT', 'WMT'], 
                        qopts = { 'columns': ['ticker', 'date', 'adj_close'] }, 
                        date = { 'gte': '2015-12-31', 'lte': '2016-12-31' }, 
                        paginate=True)

# create a new dataframe with 'date' column as index
new = data.set_index('date')

# use pandas pivot function to sort adj_close by tickers
clean_data = new.pivot(columns='ticker')
# check the head of the output
clean_data.head()

           adj_close
ticker          AAPL     MSFT      WMT
date
2015-12-31 101.69681 52.82911 58.37977
2016-01-04 101.78376 52.18160 58.53214
2016-01-05  99.23313 52.41965 59.92259
2016-01-06  97.29117 51.46743 60.52258
2016-01-07  93.18504 49.67726 61.93208

In [125]:
data = quandl.get(['WIKI/SPY.11','WIKI/AAPL.11','WIKI/MSFT.11','WIKI/GOOGL.11','WIKI/FB.11','WIKI/AMZN.11','WIKI/NFLX.11','WIKI/NVDA.11'], start_date="2016-01-01", end_date="2018-02-08")

In [128]:
data.tail()

,WIKI/SPY - Not Found,WIKI/AAPL - Adj. Close,WIKI/MSFT - Adj. Close,WIKI/GOOGL - Adj. Close,WIKI/FB - Adj. Close,WIKI/AMZN - Adj. Close,WIKI/NFLX - Adj. Close,WIKI/NVDA - Adj. Close
Date,,,,,,,,
2018-02-02,NaN,160.37000,91.78000,1119.20000,190.28000,1431.00000,267.43000,233.52000
2018-02-05,NaN,157.49000,89.05000,1068.76000,182.65000,1396.62000,255.59000,215.19000
2018-02-06,NaN,163.03000,91.33000,1084.43000,185.31000,1442.84000,265.72000,225.58000
2018-02-07,NaN,159.54000,89.61000,1055.41000,180.18000,1416.78000,264.56000,228.80000
2018-02-08,NaN,155.32000,84.89000,1005.60000,171.54990,1350.47000,250.05420,217.52000

In [111]:
data['WIKI/AAPL - Adj. Close'].head()

Date
2016-01-04   101.78376
2016-01-05    99.23313
2016-01-06    97.29117
2016-01-07    93.18504
2016-01-08    93.67778
Name: WIKI/AAPL - Adj. Close, dtype: float64

#### SPY not available in QUANDL

### from yahoo
/home/octo/Downloads/IBEXPredictor/src

In [180]:
spy=pd.read_csv('/home/octo/Downloads/IBEXPredictor/src/SPY.csv')

In [181]:
aapl=pd.read_csv('/home/octo/Downloads/IBEXPredictor/src/AAPL.csv')
amzn=pd.read_csv('/home/octo/Downloads/IBEXPredictor/src/AMZN.csv')
fb=pd.read_csv('/home/octo/Downloads/IBEXPredictor/src/FB.csv')
goog=pd.read_csv('/home/octo/Downloads/IBEXPredictor/src/GOOG.csv')
nvda=pd.read_csv('/home/octo/Downloads/IBEXPredictor/src/NVDA.csv')
msft=pd.read_csv('/home/octo/Downloads/IBEXPredictor/src/MSFT.csv')
nflx=pd.read_csv('/home/octo/Downloads/IBEXPredictor/src/NFLX.csv')

In [207]:
spy_=spy[['Date','Adj Close']]
aapl_=aapl[['Date','Adj Close']]
amzn_=amzn[['Date','Adj Close']]
fb_=fb[['Date','Adj Close']]
goog_=goog[['Date','Adj Close']]
nvda_=nvda[['Date','Adj Close']]
msft_=msft[['Date','Adj Close']]
nflx_=nflx[['Date','Adj Close']]

In [223]:
#result=pd.merge(spy_,aapl_, on='Date', how='inner')

In [232]:
result=spy_.merge(aapl_, on='Date', how='inner').merge(amzn_, on='Date', how='inner').merge(fb_, on='Date', how='inner').merge(goog_, on='Date', how='inner').merge(nvda_, on='Date', how='inner').merge(msft_, on='Date', how='inner').merge(nflx_, on='Date', how='inner')

In [237]:
result.columns = ['Date', 'SPY','AAPL','AMZN','FB','GOOG','NVDA','MSFT','NFLX']

In [244]:
result=result.set_index('Date')

In [227]:
#result = pd.concat([spy_,aapl_,amzn_,fb_,goog_,nvda_,msft_,nflx_], axis=1, join_axes=[spy_.Date])

In [226]:
#result = pd.concat([spy_,aapl_,amzn_,fb_,goog_,nvda_,msft_,nflx_], axis=1)

In [245]:
result=result.dropna()

In [246]:
result.tail()

,SPY,AAPL,AMZN,FB,GOOG,NVDA,MSFT,NFLX
Date,,,,,,,,
2018-02-02,275.450012,159.848282,1429.94995,190.28000,1111.90002,233.52000,91.78000,267.42999
2018-02-05,263.929993,155.854568,1390.00000,181.26000,1055.80005,213.70000,88.00000,254.26000
2018-02-06,269.130005,162.368011,1442.83997,185.31000,1080.59998,225.58000,91.33000,265.72000
2018-02-07,267.670013,158.892166,1416.78003,180.17999,1048.57996,228.80000,89.61000,264.56000
2018-02-08,257.630005,154.520004,1350.50000,171.58000,1001.52002,217.52000,85.01000,250.10001

http://ahmedas91.github.io/blog/2016/07/01/predicting-us-equities-trends-using-random-forests/

### Portfolio

    https://medium.com/python-data/effient-frontier-in-python-34b0c3043314
    https://medium.com/python-data/efficient-frontier-portfolio-optimization-with-python-part-2-2-2fe23413ad94

 http://www.turingfinance.com/computational-investing-with-python-week-one/

In [16]:
import requests
import os


tickers_file = '/home/octo/Dropbox/data/file.txt'
with open(tickers_file) as f:
    tickers = [l.strip() for l in f.readlines()]

# path is where I save downloaded tickers
path = '/home/octo/Dropbox/data'
# Yahoo API URL
url = "http://ichart.finance.yahoo.com/table.csv"
# Yahoo get parameters where date range 2011/01/01 - 2012/01/01
# although 2012/01/01 is an international holiday and won't be in the data
get_params = "s=%(t)s&a=00&b=01&c=2011&d=00&e=01&f=2012&g=d&ignore=.csv"
url = '?'.join([url, get_params])
for t in tickers:
    r = requests.get(url % {'t': t})
    if r.status_code != 200:
        continue
    fname = os.path.join(path, '%(t)s.csv' % {'t': t})
    with open(fname, 'w') as f:
        f.write(r.text)

ConnectionError: HTTPConnectionPool(host='ichart.finance.yahoo.com', port=80): Max retries exceeded with url: /table.csv?s=AAPL&a=00&b=01&c=2011&d=00&e=01&f=2012&g=d&ignore=.csv (Caused by NewConnectionError('<requests.packages.urllib3.connection.HTTPConnection object at 0x7f256b3c1d68>: Failed to establish a new connection: [Errno -2] Name or service not known',))