In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy
import numpy as np

In [259]:
path='/home/octo/Jts/C:\Jts\TradeReport'+ '/trades.20180420.csv'

In [260]:
#trade_report=pd.read_csv(path,index_col=['Time','Date'],parse_dates=True)
#trade_report=pd.read_csv(path,index_col=['Time'],parse_dates=False)
#trade_report=pd.read_csv(path,index_col=['Time'],infer_datetime_format=True)
#trade_report=pd.read_csv(path,parse_dates=['Time','Date'])

In [261]:
trade_report=pd.read_csv(path,
            parse_dates={'timestamp': ['Date','Time']},
            index_col='timestamp',
            usecols=['Action', 'Quantity', 'Symbol', 'Price','Time','Date','Realized P&L'])

In [262]:
trade_report.columns

Index(['Action', 'Quantity', 'Symbol', 'Price', 'Realized P&L'], dtype='object')

In [263]:
trade_report.shape

(249, 5)

In [264]:
trade_report.dtypes

Action           object
Quantity          int64
Symbol           object
Price           float64
Realized P&L    float64
dtype: object

In [265]:
#trade_report=trade_report[['Action', 'Quantity', 'Symbol', 'Price','Time','Date','Realized P&L']]

In [266]:
import time
from datetime import datetime
import tzlocal  # pip install tzlocal

In [267]:
#trade_report.Date=pd.to_datetime(trade_report.Date, format='20180420')

In [282]:
trade_report

                    Action  Quantity Symbol   Price  Realized P&L
timestamp
2018-04-19 18:50:51    SLD       100    SPY  268.28           NaN
2018-04-19 18:50:51    SLD       400    SPY  268.28           NaN
2018-04-19 18:50:51    SLD       100    SPY  268.28           NaN
2018-04-19 19:18:15    BOT       100    SPY  268.49        -23.13
2018-04-19 19:18:15    BOT       100    SPY  268.49        -22.13
2018-04-19 19:18:15    BOT       100    SPY  268.49        -22.63
2018-04-19 19:18:15    BOT       200    SPY  268.49        -45.26
2018-04-19 19:18:15    BOT       100    SPY  268.49        -22.63
2018-04-19 19:18:21    SLD       200    SPY  268.51           NaN
2018-04-19 19:18:21    SLD       300    SPY  268.51           NaN
2018-04-19 19:18:21    SLD       100    SPY  268.51           NaN
2018-04-19 19:25:36    BOT       200    SPY  268.39         20.74
2018-04-19 19:25:36    BOT       200    SPY  268.39         20.74
2018-04-19 19:25:36    BOT       200    SPY  268.39         20.74
2018-04-19 19:25:46    SLD       100    SPY  268.39           NaN
2018-04-19 19:25:46    SLD       100    SPY  268.39           NaN
2018-04-19 19:25:46    SLD       400    SPY  268.39           NaN
2018-04-19 19:30:14    BOT       300    SPY  268.25         37.10
2018-04-19 19:30:14    BOT       300    SPY  268.25         37.10
2018-04-19 19:30:19    SLD       300    SPY  268.26           NaN
2018-04-19 19:30:19    SLD       300    SPY  268.26           NaN
2018-04-19 19:30:38    BOT       100    SPY  268.36        -12.13
2018-04-19 19:30:38    BOT       500    SPY  268.36        -57.66
2018-04-19 19:30:44    SLD       500    SPY  268.37           NaN
2018-04-19 19:30:44    SLD       100    SPY  268.37           NaN
2018-04-19 19:32:40    BOT       600    SPY  268.29         38.21
2018-04-19 19:32:47    SLD       600    SPY  268.28           NaN
2018-04-19 19:34:59    BOT       500    SPY  268.83       -283.16
2018-04-19 19:34:59    BOT       100    SPY  268.83        -56.63
2018-04-19 19:35:07    SLD       100    SPY  269.08           NaN
...                    ...       ...    ...     ...           ...
2018-04-20 17:34:44    BOT       200    SPY  266.82         15.24
2018-04-20 17:34:44    BOT       300    SPY  266.82         22.11
2018-04-20 17:35:00    SLD       100    SPY  266.80           NaN
2018-04-20 17:35:00    SLD       200    SPY  266.80           NaN
2018-04-20 17:35:00    SLD       300    SPY  266.80           NaN
2018-04-20 17:35:16    BOT       100    SPY  266.87         -9.13
2018-04-20 17:35:16    BOT       100    SPY  266.87         -8.13
2018-04-20 17:35:18    BOT       400    SPY  266.88        -38.51
2018-04-20 17:35:39    SLD       100    SPY  266.88           NaN
2018-04-20 17:35:39    SLD       400    SPY  266.88           NaN
2018-04-20 17:35:40    SLD       100    SPY  266.88           NaN
2018-04-20 17:36:13    BOT       600    SPY  266.98        -69.77
2018-04-20 17:36:18    BOT       200    SPY  266.97           NaN
2018-04-20 17:36:18    BOT       200    SPY  266.97           NaN
2018-04-20 17:36:18    BOT       200    SPY  266.97           NaN
2018-04-20 17:36:49    SLD       100    SPY  266.89        -10.13
2018-04-20 17:36:49    SLD       100    SPY  266.89         -9.13
2018-04-20 17:36:49    SLD       100    SPY  266.89         -9.63
2018-04-20 17:36:50    SLD       300    SPY  266.88        -31.89
2018-04-20 17:36:54    SLD       600    SPY  266.87           NaN
2018-04-20 17:38:13    BOT       100    SPY  266.99        -14.13
2018-04-20 17:38:13    BOT       100    SPY  266.99        -13.13
2018-04-20 17:38:13    BOT       200    SPY  266.99        -27.26
2018-04-20 17:38:14    BOT       100    SPY  266.99        -13.63
2018-04-20 17:38:15    BOT       100    SPY  266.99        -13.63
2018-04-20 17:38:21    SLD       600    SPY  267.01           NaN
2018-04-20 18:13:19    BOT       100    SPY  266.83         15.87
2018-04-20 18:13:19    BOT       100    SPY  266.83         16.87
2018-04-20 18:13:20    BOT       100    SPY  266.83         16.37
2018-04-20 18:13:20    BOT       300    SPY  266.84         46.11

[249 rows x 5 columns]

In [269]:
#trade_report['Date'].dt.strftime("%Y:%m%:%d")

In [270]:
#pd.to_datetime(trade_report.Date.datetime.strftime('{} %y-%m-%d'.format('2018-04-19')))

In [271]:
#wanted_format = dt.strptime(trade_report.Time, '%Y-%m-%d %H:%M:%S').strftime("%H:%M")

In [272]:
#trade_report[['Time']].dt.strftime('%H:%M')

In [273]:

#pd.to_datetime(trade_report.Time,format= "%H:%M")

In [274]:
#print(trade_report.Time.loc[0:3])

In [275]:
#trade_report.Time=str(trade_report.Time)[17:25]

In [276]:
trade_report.dtypes

Action           object
Quantity          int64
Symbol           object
Price           float64
Realized P&L    float64
dtype: object

In [277]:
#trade_report.Time.dt.minute
#trade_report.Time.dt.second

In [278]:
trade_report.groupby(['Action','Quantity']).count()

                 Symbol  Price  Realized P&L
Action Quantity
BOT    100           69     69            57
       200           40     40            30
       300           11     11            10
       400            5      5             3
       500           10     10             9
       600            4      4             3
SLD    100           46     46             6
       200           20     20             5
       300           16     16             2
       400            9      9             1
       500            8      8             2
       600           11     11             3

In [284]:
trade_report['T']=np.where(trade_report.Action!=trade_report.Action.shift(1),(trade_report.T+trade_report.Quantity),trade_report.Quantity)

ValueError: operands could not be broadcast together with shapes (1245,) (249,)

In [280]:
trade_report['T']=np.where(np.logical_and(trade_report.Action==trade_report.Action.shift(1),(trade_report.T.shift(-1)+trade_report.Quantity)<=600),(trade_report.T.shift(1)+trade_report.Quantity),trade_report.Quantity)

ValueError: operands could not be broadcast together with shapes (1245,) (249,)

In [256]:
trade_report

                    Action  Quantity Symbol   Price  Realized P&L      T
timestamp
2018-04-19 18:50:51    SLD       100    SPY  268.28           NaN  100.0
2018-04-19 18:50:51    SLD       400    SPY  268.28           NaN  500.0
2018-04-19 18:50:51    SLD       100    SPY  268.28           NaN  500.0
2018-04-19 19:18:15    BOT       100    SPY  268.49        -23.13  100.0
2018-04-19 19:18:15    BOT       100    SPY  268.49        -22.13  200.0
2018-04-19 19:18:15    BOT       100    SPY  268.49        -22.63  200.0
2018-04-19 19:18:15    BOT       200    SPY  268.49        -45.26  300.0
2018-04-19 19:18:15    BOT       100    SPY  268.49        -22.63  300.0
2018-04-19 19:18:21    SLD       200    SPY  268.51           NaN  200.0
2018-04-19 19:18:21    SLD       300    SPY  268.51           NaN  500.0
2018-04-19 19:18:21    SLD       100    SPY  268.51           NaN  400.0
2018-04-19 19:25:36    BOT       200    SPY  268.39         20.74  200.0
2018-04-19 19:25:36    BOT       200    SPY  268.39         20.74  400.0
2018-04-19 19:25:36    BOT       200    SPY  268.39         20.74  400.0
2018-04-19 19:25:46    SLD       100    SPY  268.39           NaN  100.0
2018-04-19 19:25:46    SLD       100    SPY  268.39           NaN  200.0
2018-04-19 19:25:46    SLD       400    SPY  268.39           NaN  500.0
2018-04-19 19:30:14    BOT       300    SPY  268.25         37.10  300.0
2018-04-19 19:30:14    BOT       300    SPY  268.25         37.10  600.0
2018-04-19 19:30:19    SLD       300    SPY  268.26           NaN  300.0
2018-04-19 19:30:19    SLD       300    SPY  268.26           NaN  600.0
2018-04-19 19:30:38    BOT       100    SPY  268.36        -12.13  100.0
2018-04-19 19:30:38    BOT       500    SPY  268.36        -57.66  600.0
2018-04-19 19:30:44    SLD       500    SPY  268.37           NaN  500.0
2018-04-19 19:30:44    SLD       100    SPY  268.37           NaN  600.0
2018-04-19 19:32:40    BOT       600    SPY  268.29         38.21  600.0
2018-04-19 19:32:47    SLD       600    SPY  268.28           NaN  600.0
2018-04-19 19:34:59    BOT       500    SPY  268.83       -283.16  500.0
2018-04-19 19:34:59    BOT       100    SPY  268.83        -56.63  600.0
2018-04-19 19:35:07    SLD       100    SPY  269.08           NaN  100.0
...                    ...       ...    ...     ...           ...    ...
2018-04-20 17:34:44    BOT       200    SPY  266.82         15.24  300.0
2018-04-20 17:34:44    BOT       300    SPY  266.82         22.11  500.0
2018-04-20 17:35:00    SLD       100    SPY  266.80           NaN  100.0
2018-04-20 17:35:00    SLD       200    SPY  266.80           NaN  300.0
2018-04-20 17:35:00    SLD       300    SPY  266.80           NaN  500.0
2018-04-20 17:35:16    BOT       100    SPY  266.87         -9.13  100.0
2018-04-20 17:35:16    BOT       100    SPY  266.87         -8.13  200.0
2018-04-20 17:35:18    BOT       400    SPY  266.88        -38.51  500.0
2018-04-20 17:35:39    SLD       100    SPY  266.88           NaN  100.0
2018-04-20 17:35:39    SLD       400    SPY  266.88           NaN  500.0
2018-04-20 17:35:40    SLD       100    SPY  266.88           NaN  500.0
2018-04-20 17:36:13    BOT       600    SPY  266.98        -69.77  600.0
2018-04-20 17:36:18    BOT       200    SPY  266.97           NaN  200.0
2018-04-20 17:36:18    BOT       200    SPY  266.97           NaN  400.0
2018-04-20 17:36:18    BOT       200    SPY  266.97           NaN  400.0
2018-04-20 17:36:49    SLD       100    SPY  266.89        -10.13  100.0
2018-04-20 17:36:49    SLD       100    SPY  266.89         -9.13  200.0
2018-04-20 17:36:49    SLD       100    SPY  266.89         -9.63  200.0
2018-04-20 17:36:50    SLD       300    SPY  266.88        -31.89  400.0
2018-04-20 17:36:54    SLD       600    SPY  266.87           NaN  600.0
2018-04-20 17:38:13    BOT       100    SPY  266.99        -14.13  100.0
2018-04-20 17:38:13    BOT       100    SPY  266.99        -13.13  200.0
2018-04-20 17:38:13    BOT       200    SPY  266.99        -27.26  300.0
2018-04-20 17:38:14    BOT       100    SPY  266.99        -13.63  300.0
2018-04-20 17:38:15    BOT       100    SPY  266.99        -13.63  200.0
2018-04-20 17:38:21    SLD       600    SPY  267.01           NaN  600.0
2018-04-20 18:13:19    BOT       100    SPY  266.83         15.87  100.0
2018-04-20 18:13:19    BOT       100    SPY  266.83         16.87  200.0
2018-04-20 18:13:20    BOT       100    SPY  266.83         16.37  200.0
2018-04-20 18:13:20    BOT       300    SPY  266.84         46.11  400.0

[249 rows x 6 columns]

In [285]:
#trade_report[trade_report.Quantity.sum()==400]

In [297]:
trade_report=trade_report.pivot_table(index='timestamp',columns='Action',aggfunc=sum).drop('Price',axis=1)

In [299]:
trade_report.fillna(0,inplace=True)

In [304]:
trade_report.columns = trade_report.columns.droplevel()

AttributeError: 'Index' object has no attribute 'droplevel'

In [305]:
trade_report.columns.name = None

In [307]:
trade_report.reset_index(inplace=True)

In [308]:
trade_report.head(10)

            timestamp    BOT    SLD     BOT  SLD
0 2018-04-19 18:50:51    0.0  600.0    0.00  0.0
1 2018-04-19 19:18:15  600.0    0.0 -135.78  0.0
2 2018-04-19 19:18:21    0.0  600.0    0.00  0.0
3 2018-04-19 19:25:36  600.0    0.0   62.22  0.0
4 2018-04-19 19:25:46    0.0  600.0    0.00  0.0
5 2018-04-19 19:30:14  600.0    0.0   74.20  0.0
6 2018-04-19 19:30:19    0.0  600.0    0.00  0.0
7 2018-04-19 19:30:38  600.0    0.0  -69.79  0.0
8 2018-04-19 19:30:44    0.0  600.0    0.00  0.0
9 2018-04-19 19:32:40  600.0    0.0   38.21  0.0