Market Data from IB by R in .dat format.Need to import for analysis

In [456]:
import pandas as pd   
import numpy as np

with open('/home/octo/Desktop/PROJECT_1/data_R/SPY.dat','r') as f:
    #next(f) # skip first row
    df = pd.DataFrame(l.rstrip().split() for l in f)

In [457]:
df['time'] = df[0].str.cat(df[1].values.astype(str), sep=' ')

In [458]:
#test to change <> from time 

#import datetime
#for d in df['TIME']:
#    i=0
#    df['TIME'][i] = datetime.datetime.strptime(d,"<%Y%m%d %H:%M:%S.%f>")
#    i=i+1

In [459]:
df.index=df['time']
df=df[[4,5,6,7]]

#option call/put volume and interest is avialable in the dataset

In [472]:
dfBID=df[df[4]=='bidPrice:']
dfASK=df[df[4]=='askPrice:']
dfV=df[df[4]=='Volume:']
dfAV=df[df[4]=='averageVolume:']
dfCOI=df[df[4]=='optionCallOpenInterest:']
dfPOI=df[df[4]=='optionPutOpenInterest:']
dfCV=df[df[4]=='optionCallVolume:']
dfCV=df[df[4]=='optionPutVolume:']
dfIV=df[df[4]=='optionImpliedVol:']

In [473]:
dfCOI=dfCOI[[5]]
dfCOI.columns = ['CallOpenInt']

In [474]:
dfAV=dfAV[[5]]
dfAV.columns= ['AvgVolume']

In [475]:
dfAV

                           AvgVolume
time
<20160927 18:46:53.860199>    865004

In [476]:
dfBID.columns = ['bid','bidPrice','Size','bidSize']
dfASK.columns = ['ask','askPrice','Size','askSize']

In [477]:
dfBID=dfBID[[1,3]].astype(float)
dfASK=dfASK[[1,3]].astype(float)

In [478]:
data= pd.merge(dfASK,dfBID, left_index=True, right_index=True,how='outer')

In [479]:
data

                            askPrice  askSize  bidPrice  bidSize
time
<20160927 18:46:53.382450>       NaN      NaN    213.92        2
<20160927 18:46:53.382589>    213.95       87       NaN      NaN
<20160927 18:46:55.065562>       NaN      NaN    213.91        2
<20160927 18:46:55.065820>    213.92       45       NaN      NaN
<20160927 18:46:59.660250>       NaN      NaN    213.89        6
<20160927 18:47:10.875840>       NaN      NaN    213.90        2
<20160927 18:47:16.140721>       NaN      NaN    213.86        1
<20160927 18:47:16.140873>    213.89        3       NaN      NaN
<20160927 18:47:16.870351>    213.88       10       NaN      NaN
<20160927 18:47:17.351792>    213.89       11       NaN      NaN
<20160927 18:47:22.020744>    213.88       10       NaN      NaN
<20160927 18:47:30.630329>    213.87       30       NaN      NaN
<20160927 18:47:32.122376>    213.88       10       NaN      NaN
<20160927 18:47:33.133468>    213.87       90       NaN      NaN
<20160927 18:47:33.625552>    213.88       76       NaN      NaN
<20160927 18:47:34.105926>    213.87       70       NaN      NaN
<20160927 18:47:39.406569>    213.88       16       NaN      NaN
<20160927 18:47:40.918303>    213.89       11       NaN      NaN
<20160927 18:47:42.911782>    213.88       10       NaN      NaN
<20160927 18:47:43.431473>    213.89       11       NaN      NaN
<20160927 18:47:46.194262>    213.88       10       NaN      NaN
<20160927 18:47:48.171432>    213.89       11       NaN      NaN
<20160927 18:47:52.158951>       NaN      NaN    213.87        4
<20160927 18:47:52.159104>    213.90       97       NaN      NaN
<20160927 18:47:52.639711>       NaN      NaN    213.88       36
<20160927 18:47:52.639889>    213.91       10       NaN      NaN
<20160927 18:47:53.601972>       NaN      NaN    213.89        2
<20160927 18:47:55.453140>       NaN      NaN    213.90        1
<20160927 18:47:55.453414>    213.92      100       NaN      NaN
<20160927 18:47:56.164433>       NaN      NaN    213.91        2
...                              ...      ...       ...      ...
<20160927 21:17:32.399300>       NaN      NaN    214.90       35
<20160927 21:17:32.399470>    214.91       23       NaN      NaN
<20160927 21:17:32.640788>       NaN      NaN    214.91        2
<20160927 21:17:32.640943>    214.92       83       NaN      NaN
<20160927 21:17:54.446858>       NaN      NaN    214.90       34
<20160927 21:17:54.447007>    214.91       32       NaN      NaN
<20160927 21:17:54.927287>       NaN      NaN    214.91       53
<20160927 21:17:54.927438>    214.92        3       NaN      NaN
<20160927 21:17:59.055695>       NaN      NaN    214.90       90
<20160927 21:17:59.055862>    214.91        5       NaN      NaN
<20160927 21:17:59.534560>       NaN      NaN    214.91       12
<20160927 21:17:59.534825>    214.92       58       NaN      NaN
<20160927 21:18:04.835117>       NaN      NaN    214.92       35
<20160927 21:18:04.835271>    214.93       36       NaN      NaN
<20160927 21:18:07.753580>       NaN      NaN    214.91       73
<20160927 21:18:08.509119>       NaN      NaN    214.92        6
<20160927 21:18:10.431714>       NaN      NaN    214.93        5
<20160927 21:18:10.431882>    214.94      146       NaN      NaN
<20160927 21:18:10.912709>       NaN      NaN    214.92       51
<20160927 21:18:10.912929>    214.93       24       NaN      NaN
<20160927 21:18:11.898409>       NaN      NaN    214.91       81
<20160927 21:18:12.378259>       NaN      NaN    214.92       19
<20160927 21:18:15.511223>       NaN      NaN    214.91       78
<20160927 21:18:15.789414>    214.92       26       NaN      NaN
<20160927 21:18:18.190840>       NaN      NaN    214.90       80
<20160927 21:18:19.871388>       NaN      NaN    214.91        1
<20160927 21:18:20.360615>       NaN      NaN    214.90       96
<20160927 21:18:20.840754>       NaN      NaN    214.91        6
<20160927 21:18:21.800587>       NaN      NaN    214.90       32
<20160927 21:18:21.800861>    214.91       53       NaN      NaN

[10887 rows x 4 columns]

In [480]:
import matplotlib.pyplot as plt
data.plot()
plt.show()

USE OF HDF5 for quick operation

In [407]:
h5s = pd.HDFStore('/home/octo/Desktop/PROJECT_1/data_R/SPY' + '.h5s', 'w')

In [408]:
h5s['SPY'] = data

In [409]:
h5s

<class 'pandas.io.pytables.HDFStore'>
File path: /home/octo/Desktop/PROJECT_1/data_R/SPY.h5s
/SPY            frame        (shape->[8612,4])

In [410]:
h5s.close()

In [419]:
h5s = pd.HDFStore('/home/octo/Desktop/PROJECT_1/data_R/SPY'+ '.h5s', 'r')
SPY = h5s['SPY']
h5s.close()

In [421]:
SPY.head()

                            askPrice  askSize  bidPrice  bidSize
time
<20160926 23:08:40.847667>       NaN      NaN    214.50       21
<20160926 23:08:40.847913>    214.51       19       NaN      NaN
<20160926 23:08:40.858685>       NaN      NaN    214.51      131
<20160926 23:08:40.858848>    214.53       45       NaN      NaN
<20160926 23:08:40.859920>       NaN      NaN    214.52       41

In [439]:
import matplotlib.pyplot as plt
SPY.plot()
plt.show()