### IB tick data feed
###### Market Data stored from IB by R code in .dat format.Need to import from dropbox for analysis
#### SPXS data not avialable so SQQQ,TQQQ taken

In [161]:
import pandas as pd   
import numpy as np

with open('/home/octo/Dropbox/IB_data/SPY.dat','r') as f:
    #next(f) # skip first row
    df_spy = pd.DataFrame(l.rstrip().split() for l in f)
with open('/home/octo/Dropbox/IB_data/SQQQ.dat','r') as f:
    #next(f) # skip first row
    df_sqqq = pd.DataFrame(l.rstrip().split() for l in f)
with open('/home/octo/Dropbox/IB_data/TQQQ.dat','r') as f:
    #next(f) # skip first row
    df_tqqq = pd.DataFrame(l.rstrip().split() for l in f)

In [162]:
df_spy['time'] = df_spy[0].str.cat(df_spy[1].values.astype(str), sep=' ')
df_sqqq['time'] = df_sqqq[0].str.cat(df_sqqq[1].values.astype(str), sep=' ')
df_tqqq['time'] = df_tqqq[0].str.cat(df_tqqq[1].values.astype(str), sep=' ')

In [163]:
df_spy.index=df_spy['time']
df_spy=df_spy[[4,5,6,7]]
df_sqqq.index=df_sqqq['time']
df_sqqq=df_sqqq[[4,5,6,7]]
df_tqqq.index=df_tqqq['time']
df_tqqq=df_tqqq[[4,5,6,7]]

In [164]:
df_spyBID=df_spy[df_spy[4]=='bidPrice:']
df_spyASK=df_spy[df_spy[4]=='askPrice:']
df_spyV=df_spy[df_spy[4]=='Volume:']
"""dfAV=df[df[4]=='averageVolume:']
dfCOI=df[df[4]=='optionCallOpenInterest:']
dfPOI=df[df[4]=='optionPutOpenInterest:']
dfCV=df[df[4]=='optionCallVolume:']
dfCV=df[df[4]=='optionPutVolume:']
dfIV=df[df[4]=='optionImpliedVol:']"""

"dfAV=df[df[4]=='averageVolume:']\ndfCOI=df[df[4]=='optionCallOpenInterest:']\ndfPOI=df[df[4]=='optionPutOpenInterest:']\ndfCV=df[df[4]=='optionCallVolume:']\ndfCV=df[df[4]=='optionPutVolume:']\ndfIV=df[df[4]=='optionImpliedVol:']"

In [165]:
"""dfCOI=dfCOI[[5]]
dfCOI.columns = ['CallOpenInt']"""

"dfCOI=dfCOI[[5]]\ndfCOI.columns = ['CallOpenInt']"

In [166]:
df_spyBIDvalue=df_spyBID[[5]]
df_spyBIDvalue.columns = ['bid']
df_spyBIDsize=df_spyBID[[7]]
df_spyBIDsize.columns = ['bidSize']
df_spyASKvalue=df_spyASK[[5]]
df_spyASKvalue.columns = ['ask']
df_spyASKsize=df_spyASK[[7]]
df_spyASKsize.columns = ['askSize']
df_spyV=df_spyV[[5]]
df_spyV.columns = ['volume']

In [167]:
#dfBID.columns = ['bid','bidPrice','Size','bidSize']
#dfASK.columns = ['ask','askPrice','Size','askSize']

In [168]:
#dfBID=dfBID[[1,3]].astype(float)
#dfASK=dfASK[[1,3]].astype(float)

In [169]:
#data= pd.merge(dfASK,dfBID, left_index=True, right_index=True,how='outer')

In [170]:
df_spyBID= pd.merge(df_spyBIDvalue,df_spyBIDsize, left_index=True, right_index=True,how='outer')
df_spyASK= pd.merge(df_spyASKvalue,df_spyASKsize, left_index=True, right_index=True,how='outer')
df_spy=pd.merge(df_spyBID,df_spyASK, left_index=True, right_index=True,how='outer')

### !!! need time index to second only to avoid NaN

In [171]:
df_spy.tail()

                               bid bidSize     ask askSize
time
<20170202 12:12:13.618969>     NaN     NaN  227.31     420
<20170202 12:12:15.678483>  227.31      42     NaN     NaN
<20170202 12:12:15.976486>     NaN     NaN  227.32     226
<20170202 12:12:35.323178>  227.32     149  227.33     357
<20170202 12:12:35.832199>  227.33     115  227.34      45

In [172]:
#pd.DataFrame(df_spy['ask'])-pd.DataFrame(df_spy['bid'])

In [175]:
h5s = pd.HDFStore('/home/octo/Dropbox/IB_data/df_spy_h' + '.h5s', 'w')

In [177]:
h5s['df_spy_h'] =df_spy

In [178]:
h5s.close()

In [179]:
h5s = pd.HDFStore('/home/octo/Dropbox/IB_data/df_spy_h'+ '.h5s', 'r')
df_spy_h = h5s['df_spy_h']
h5s.close()

In [180]:
df_spy_h.head()

                               bid bidSize     ask askSize
time
<20170202 09:49:35.986062>  227.33     167     NaN     NaN
<20170202 09:49:35.992125>     NaN     NaN  227.34      47
<20170202 09:49:36.154540>  227.34       2  227.35     210
<20170202 09:49:38.968739>  227.35     143  227.36     184
<20170202 09:49:39.221487>  227.34     229  227.35       3